{% extends "base.html" %}
{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error Page</title>
</head>
<body>
    <div class="card-body container-fluid col-6 text-center delete-text">
        <h2>You are lost Dude!</h2>
        <ul>
            <a class="mainpage-button" href="{% url 'posts' %}">Go back to Main Page</a>
        </ul>
    </div>

    
</body>
{% endblock content %}