{% extends "base.html" %}
{% load static %}
{% block content %}
    
    <div class="container p-4 text-center my-5">
        <div class="my-5 row align-items-center justify-content-center">
            {% for post in object_list %}
            <div class="posts col-md-8 px-2 align-self-center mb-2"  style="width: 500px; border-radius: 5px; padding: 5px; background-color: rgb(250, 250, 250);">
                <div class=" d-flex mb-2" >
                    <div class="col-auto mt-1`">
                        <img style="width:52px; height: 52px" class="avatar rounded-circle text-bg-secondary" src="https://cdn.pixabay.com/photo/2014/11/13/06/12/boy-529067__340.jpg" alt="avatar">
                    </div>
                    <div class="col-11 px-2">
                        <div class="col text-start">
                            <b>{{ post.owner.username }}</b>
                        </div>
                        <div class="col text-start" style="color: rgb(171, 171, 171); font-weight: bold;">
                            @{{ post.owner.username }}
                        </div>
                        <div class="col text-start" style="color: rgb(171, 171, 171)">
                            {{ post.created_date }} - {{ post.created_time }}
                        </div>
                    </div>
                </div>
                <div>
                    {{ post.image }} <img src="" style="width:100%;height:100%; border-radius: 5px;" alt="{{ post.title }}">
                </div>
                <p class="text-start my-2">
                {{ post.title }}
                </p>
                <hr>
                <div class="interactions" style="display: flex; justify-content: space-around;">
                    <div class="col-3">
                        <a style="display: flex; flex-direction: column;" href="#">
                            <div>
                                <i class="fa-regular fa-thumbs-up fa-lg"></i>
                                <span class="mx-1">{{ post.total_likes }} Like</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a style="display: flex; flex-direction: column;" href="#">
                            <div>
                                <i class="fa-regular fa-thumbs-down fa-lg"></i>
                                <span class="mx-1">{{ post.total_dislikes }} Dislike</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a style="display: flex; flex-direction: column;" href="#">
                            <div>
                                <i class="fa-regular fa-comment fa-lg"></i>
                                <span class="mx-1">0</span>
                                <p>Comments</p>
                                
                            </div>
                        </a>
                    </div>
                </div>
                <div class="p-1 mt-1 mb-1 ">
                    <hr class="border-primary border-2 opacity-100">
                </div>
            </div>
            {% endfor %}
        </div> 
    </div>
{% endblock content %}
