{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- start of main part -->
    <div class="container p-4 text-center my-5">
      <div class="my-4 row align-items-center justify-content-center">
          <div class="col-md-8 px-2 align-self-center"  style="width: 500px; border-radius: 5px; padding: 5px; background-color: rgb(245, 245, 245);">
              <div class="d-flex mb-2" >
                  <!-- <div class="row"> -->
                      <div class="col-auto mt-2">
                          <!-- fix height of image -->
                          <img  style="width:52px; height: 52px" class="avatar rounded-circle text-bg-secondary" src="https://cdn.pixabay.com/photo/2014/11/13/06/12/boy-529067__340.jpg" alt="image of aykos">
                      </div>
                      <div class="col-11 px-2">
                          <div class="col text-start">
                              <!-- <p class="text-start mb-0"> -->
                                  <b>Aymammet Annamyradov</b>
                              <!-- </p> -->
                          </div>
                          <div class="col text-start">
                              <!-- <p class="text-start mb-0"> -->
                                  @aykos
                              <!-- </p> -->
                          </div>
                          <div class="col text-start">
                              <!-- <p class="text-start mb-0"> -->
                                  2 January 2023 - 17:03
                              <!-- </p> -->
                          </div>
                          <!-- <div class="col text-start">
                              <p class="text-start mb-0">
                                  17:55
                              </p>
                          </div> -->
                      </div>
                  <!-- </div> -->
              </div>
              <img src="https://cdn.pixabay.com/photo/2018/06/17/20/35/chain-3481377_960_720.jpg" style="width:100%;height:100%" alt="image of aykos">
              <p class="text-start">title of image sdfsdf fsdkjsdf sdf fdsfjsdf sdfksdjfsdf sdfsdf </p>
          </div>
      </div>
      

      <div class="my-4 row align-items-center justify-content-center">
        <div class="col-md-8 px-0 align-self-center"  style="width: 500px; background-color: rgb(255, 255, 255);">
            <div class="d-flex mb-2" >
                <!-- <div class="row"> -->
                    <div class="col-auto mt-2">
                        <!-- fix height of image -->
                        <img  style="width:52px; height: 52px" class="avatar rounded-circle text-bg-secondary" src="https://cdn.pixabay.com/photo/2014/11/13/06/12/boy-529067__340.jpg" alt="image of aykos">
                    </div>
                    <div class="col-11 px-2">
                        <div class="col text-start">
                            <!-- <p class="text-start mb-0"> -->
                                Aymammet Annamyradov
                            <!-- </p> -->
                        </div>
                        <div class="col text-start">
                            <!-- <p class="text-start mb-0"> -->
                                @aykos
                            <!-- </p> -->
                        </div>
                        <div class="col text-start">
                            <!-- <p class="text-start mb-0"> -->
                                2 January 2023 - 17:03
                            <!-- </p> -->
                        </div>
                        <!-- <div class="col text-start">
                            <p class="text-start mb-0">
                                17:55
                            </p>
                        </div> -->
                    </div>
                <!-- </div> -->
            </div>
            <!-- <img src="https://cdn.pixabay.com/photo/2018/06/17/20/35/chain-3481377_960_720.jpg" style="width:100%;height:100%" alt="image of aykos"> -->
            <p class="text-start">Hey guys congrats me... I finally graduated from MIT </p>
        </div>
    </div>


      <div class="my-4 row align-items-center justify-content-center">
        <div class="col-md-8 px-0 align-self-center"  style="width: 500px; background-color: rgb(255, 255, 255);">
            <div class="d-flex mb-2" >
                <!-- <div class="row"> -->
                    <div class="col-auto mt-2">
                        <!-- fix height of image -->
                        <img  style="width:52px; height: 52px" class="avatar rounded-circle text-bg-secondary" src="https://cdn.pixabay.com/photo/2014/11/13/06/12/boy-529067__340.jpg" alt="image of aykos">
                    </div>
                    <div class="col-11 px-2">
                        <div class="col text-start">
                            <!-- <p class="text-start mb-0"> -->
                                Aymammet Annamyradov
                            <!-- </p> -->
                        </div>
                        <div class="col text-start">
                            <!-- <p class="text-start mb-0"> -->
                                @aykos
                            <!-- </p> -->
                        </div>
                        <div class="col text-start">
                            <!-- <p class="text-start mb-0"> -->
                                2 January 2023 - 17:03
                            <!-- </p> -->
                        </div>
                        <!-- <div class="col text-start">
                            <p class="text-start mb-0">
                                17:55
                            </p>
                        </div> -->
                    </div>
                <!-- </div> -->
            </div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDaEE0teeyKRoKHEEz3Wd0MT7K6P2aX-7I-Q&usqp=CAU" style="width:100%;height:100%" alt="image of aykos">
            <p class="text-start">Avatar 3 !!! </p>
        </div>
    </div>  
    </div>
    <!-- end of main part -->
{% endblock content %}
