{% extends "base.html" %}
{% load static %}
{% block content %}        
<div class="container p-4 text-center my-5">
    <div class="d-flex my-5 row align-items-center justify-content-center">
        <form class="posts col-md-8 col-sm-10" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class=" mb-2" >
                <div class="col-auto mt-1`">
                    <div class="col-12 px-2">
                        <div class="panel-body text-center mt-2">
                            <img id="post-image" class="rounded-3 mb-1" src="
                            {% if post.image %}
                                {{ post.image.url }}
                            {% endif %}
                            ">
                        </div>
                        <div id="title" class="col mt-2">
                            <div class="mb-4">
                                <input name="image" src="{{post.image.value}}" class="form-control" type="file" id="post-file">
                            </div>
                            <div class="form-outline mb-3 input-group flex-nowrap">
                                <input type="text" value="{{post.title}}" name="title" class="form-control" placeholder="Your post" aria-label="Title" aria-describedby="addon-wrapping">
                            </div>
                            <div class="error-text">
                                {% if form.title.errors %}
                                    {% for error in form.title.errors %}
                                        <p>{{ error }}</p>    
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="container-fluid three-buttons">
                                <div class="text-center">
                                    <div class="">
                                        <a href="{% url 'posts' %}">
                                            <button type="button" class="btn btn-secondary mx-1 mb-4 col-3">
                                                Cancel
                                            </button>
                                        </a>
                                        <button type="submit" class="btn btn-primary mx-1 mb-4 col-3">
                                            Save
                                        </button>
                                        <a href="{% url 'post_delete' post.id %}">
                                            <button type="button" class="btn btn-danger mx-1 mb-4 col-3">
                                                Delete
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded",() => {
        document.getElementById('post-file').addEventListener('change', (event) => {
            image = document.getElementById('post-file')
            var src = URL.createObjectURL(event.target.files[0])
            document.getElementById('post-image').src = src
        })
    })
</script>
{% endblock content %}
