{% extends "base.html" %}
{% load static %}
{% block content %}        
<div class="container p-4 text-center my-5">
    <div class="d-flex my-5 row align-items-center justify-content-center">
        <form class="posts col-md-8 col-sm-10" method="post" enctype="multipart/form-data">
            <div class=" mb-2" >
                {% csrf_token %}
                <div class="col-auto mt-1`">
                    <div class="col-12 px-2">
                        <div class="panel-body text-center mt-2">
                            <img id="post-image" class="rounded-3 mb-1" name="image">
                        </div>`
                        <div id="title" class="col mt-2">
                            <div class="mb-4">
                                <input name="image" src="{{form.image.value}}" class="form-control" type="file" id="imagefile">
                            </div>
                            <div class="form-outline mb-3 input-group flex-nowrap">
                                <input type="text" name="title" class="form-control" placeholder="Your post" aria-label="Title" aria-describedby="addon-wrapping">
                            </div>
                            <div class="error-text">
                                {% if form.title.errors %}
                                    {% for error in form.title.errors %}
                                        <p>{{ error }}</p>    
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class=" container-fluid">
                                <div class="text-center">
                                    <a href="{% url 'posts' %}">
                                        <button type="button" class="btn btn-secondary mb-4 col-5">
                                            Cancel
                                        </button>
                                    </a>
                                    <button type="submit" class="btn btn-primary mb-4 col-5">
                                        Create
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded",() => {
        document.getElementById('imagefile').addEventListener('change', (event) => {
            image = document.getElementById('imagefile')
            var src = URL.createObjectURL(event.target.files[0])
            document.getElementById('post-image').src = src
        })
    })
</script>
{% endblock content %}
