<body>
    <div class="container">
        <div class="main-body m-1">
            <div class="row gutters-sm ">
                <!-- START OF LEFT SIDE BAR -->
                <div class="col-md-6 col-lg-5 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                                <div class="mt-2 col-12 col-sm-12">
                                    <h4 class="mb-4">@Aykos</h4>
                                    <div class="col-12 ml-n1 mb-1 mt-1">
                                        <button type="button" class="fa-solid fa-person-circle-plus btn btn-primary col-3 fs-4"></button>
                                        <button type="button" class="fa-solid fa-user-pen btn btn-primary col-3 fs-4"></button>
                                        <button type="button" class="fa-regular fa-envelope btn btn-primary col-3 fs-4"></button>
                                    </div>
                                <div class="card mb-3 mt-3 rounded-5">
                                    <div class="card-body row-2">
                                        <div class="row">
                                            <div class=" col-5">
                                                <h6 class="mb-0">First Name</h6>
                                            </div>
                                            <div class="col-7 text-secondary">
                                                Aymammet
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-5">
                                                <h6 class="mb-0">Last Name</h6>
                                            </div>
                                            <div class="col-7 text-secondary">
                                                Annamyradov
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-5">
                                                <h6 class="mb-0">Occupation</h6>
                                            </div>
                                            <div class="col-7 text-secondary">
                                                Software&nbsp;Developer
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-5">
                                                <h6 class="mb-0">Bio</h6>
                                            </div>
                                            <div class="col-7 text-secondary">
                                                180 cm height, athletic
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-5">
                                                <h6 class="mb-0">Number of Posts</h6>
                                            </div>
                                            <div class="col-7 text-secondary">
                                                "2"
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-5">
                                                <h6 class="mb-0">Liked Posts №</h6>
                                            </div>
                                            <div class="col-7 text-secondary">
                                                "4"
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-5">
                                                <h6 class="mb-0">Disliked Posts №</h6>
                                            </div>
                                            <div class="col-7 text-secondary">
                                                "1"
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-5">
                                                <h6 class="mb-0">Joined Date</h6>
                                            </div>
                                            <div class="col-7 text-secondary">
                                                Jan 24, 2023
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-5">
                                                <h6 class="mb-0">Last visited day</h6>
                                            </div>
                                            <div class="col-7 text-secondary">
                                                Jan 25, 2023
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END OF LEFT SIDEBAR-->
                </div>
                <!-- Post starts -->
                <div class="col-md-6 col-lg-7 mb-3">
                    <div class="container">
                        <div class="col-lg-9 ">
                            <div class="cardbox shadow-lg bg-white rounded-3">
                                <div class="cardbox-heading">
                                    <!-- START dropdown-->
                                    <div class="dropdown float-right">
                                        <div class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu" style="position: absolute; transform: translate3d(-136px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        </div>
                                    </div>
                                    <!--/ Post edit button -->
                                    <div class="media m-1 ">
                                        <div class="d-flex justify-content-end">
                                            <button type="button" class="fa-regular fa-pen-to-square btn btn-outline-secondary m-1 mb-0"></button>
                                        </div>
                                    </div>
                                </div>
                                <!--/ cardbox-heading Post1 -->
                                <div class="cardbox-item p-1">
                                    <img class="img-fluid rounded-3" src="https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg" alt="Image">
                                </div>
                                <!--/ cardbox-title -->
                                <div class="cardbox-base m-1">
                                    <p class="mb-0">Title Name</p>
                                    <div class="media-body mb-0 text-secondary-emphasis">
                                        <small><span><i class="icon ion-md-pin"></i> 25-Jan-2023</span></small>
                                        <small><span><i class="icon ion-md-time"></i> 10 hours ago</span></small>
                                    </div>
                                </div>
                                <hr class="mb-0">
                                   <!--/ Post edit button -->
                                <div class="media m-1 ">
                                    <div class="d-flex justify-content-end">
                                        <button type="button" class="fa-regular fa-pen-to-square btn btn-outline-secondary m-1 mb-0"></button>
                                    </div>
                                </div>
                                <!--/ cardbox-heading Post2 -->
                                <div class="cardbox-item p-1 mt-0">
                                    <img class="img-fluid rounded-3" src="https://img.freepik.com/free-photo/closeup-beautiful-green-leaves_23-2148245094.jpg?w=1380&t=st=1675094404~exp=1675095004~hmac=21c4400ed75f62a0fc68bb5f8e2f1e48b05863b5ea55429c308f71cfca71542b" alt="Image">
                                </div>
                                <!--/ cardbox-title -->
                                <div class="cardbox-base m-1">
                                    <p class="mb-0">Title Name</p>
                                    <div class="media-body mb-0 text-secondary-emphasis">
                                        <small><span><i class="icon ion-md-pin"></i> 25-Jan-2023</span></small>
                                        <small><span><i class="icon ion-md-time"></i> 12 hours ago</span></small>
                                    </div>
                                </div>
                                <hr class="mb-0">
                                <!--/ Post edit button -->
                             <div class="media m-1 ">
                                 <div class="d-flex justify-content-end">
                                     <button type="button" class="fa-regular fa-pen-to-square btn btn-outline-secondary m-1 mb-0"></button>
                                 </div>
                             </div>
                             <!--/ cardbox-heading Post3 -->
                             <div class="cardbox-item p-1">
                                 <img class="img-fluid rounded-3" src="https://img.freepik.com/free-photo/close-up-horse-nature_23-2149312813.jpg?w=740&t=st=1675094706~exp=1675095306~hmac=ecc679e41b199240dba23e5974915bb1aff31abf519e2a1feb4b3b0c248fdf56" alt="Image">
                             </div>
                             <!--/ cardbox-title -->
                             <div class="cardbox-base m-1">
                                 <p class="mb-0">Title Name</p>
                                 <div class="media-body mb-0 text-secondary-emphasis">
                                     <small><span><i class="icon ion-md-pin"></i> 25-Jan-2023</span></small>
                                     <small><span><i class="icon ion-md-time"></i> 14 hours ago</span></small>
                                 </div>
                             </div>
                             <hr class="mb-0">
                             <!--/ Post edit button -->
                          <div class="media m-1 ">
                              <div class="d-flex justify-content-end">
                                  <button type="button" class="fa-regular fa-pen-to-square btn btn-outline-secondary m-1 mb-0"></button>
                              </div>
                          </div>
                          <!--/ cardbox-heading Post4 -->
                          <div class="cardbox-item p-1">
                              <img class="img-fluid rounded-3 justify-content-center" src="https://media0.giphy.com/media/UD7GTSt6sPmFi/giphy.gif?cid=ecf05e479n1opiei9z4ktoqyykwq2gi91mnxj1dflg4pnfak&rid=giphy.gif&ct=g" alt="Image">
                          </div>
                          <!--/ cardbox-title -->
                          <div class="cardbox-base m-1">
                              <p class="mb-0">Title Name</p>
                              <div class="media-body mb-0 text-secondary-emphasis">
                                  <small><span><i class="icon ion-md-pin"></i> 25-Jan-2023</span></small>
                                  <small><span><i class="icon ion-md-time"></i> 20 hours ago</span></small>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>      
</body>