<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="../static/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
        <title >Post Edit</title>
    </head>
    <body>
        <div class="container col-12 mt-5">
            <div class="cardbox shadow-lg bg-white rounded-3">
                <div class="cardbox-heading">
                    <!-- START dropdown-->
                    <div class="dropdown float-right">
                        <div class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu" style="position: absolute; transform: translate3d(-136px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                        </div>
                    </div>
                </div>
                <!--/ cardbox-heading Post1 -->
                <div class="cardbox-item p-1">
                    <img class="img-fluid rounded-3 justify-content-center" src="https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg" alt="Image">
                </div>
                <!--/ cardbox-title -->
                <div class="cardbox-base m-1">
                    <p class="mb-0">Title Name</p>
                    <div class="media-body mb-0 text-secondary-emphasis">
                        <small><span><i class="icon ion-md-pin"></i> 25-Jan-2023</span></small>
                        <small><span><i class="icon ion-md-time"></i> 10 hours ago</span></small>
                    </div>
                </div>
                <hr class="mb-1">
            </div>
        </div>
    </body>
</html>

