{% extends "base.html" %}
{% load static %}
{% block content %}    
    <div class="container-xl px-4 mt-4">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-xl-4">
                    <div class="card mb-4 mb-xl-0 ">
                        <div class="card-header">Profile Picture</div>
                        <div class="card-body text-center">
                            <img class="img-account-profile rounded-circle mb-2" id="profile-image" src="{{ user.profile_image.url }}" height="150cm" width="150cm">
                            <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                            <div class="mb-3">
                                <label for="profile-file" class="form-label"></label>
                                <input class="form-control form-control-sm" name="profile_image" id="profile-file" type="file" alt="profile-image" value="{{ form.profile_image.url }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="card mb-4">
                        <div class="card-header">Account Details</div>
                        <div class="card-body">
                            <div class="mb-1">
                                <label class="small mb-1" for="inputUsername">Username (how your name will appear to other users on the site)</label>
                            </div>
                            <div class="form-outline mb-3 input-group flex-nowrap">
                                <span class="input-group-text fa-regular fa-user fs-5" id="addon-wrapping"></span>
                                <input type="text" name="username" class="form-control" placeholder="{{ user.username }}" aria-label="Username" aria-describedby="addon-wrapping" value="{{ form.username.value }}" disabled>
                            </div>
                            <div class="row gx-3 mb-3">
                                <label class="small mb-1" for="inputUsername">First name</label>
                                <div class="form-outline mb-3 input-group flex-nowrap">
                                    <span class="input-group-text fa-solid fa-user-tie fs-5" id="addon-wrapping"></span>
                                    <input type="text" name="first_name" class="form-control my-input" placeholder="Firstname" aria-label="Firstname" aria-describedby="addon-wrapping" value="{{ form.first_name.value }}">
                                </div>
                                <label class="small mb-1" for="inputUsername">Last name</label>
                                <div class="form-outline mb-2 input-group flex-nowrap">
                                    <span class="input-group-text fa-solid fa-user-tie fs-5" id="addon-wrapping"></span>
                                    <input type="text" name="last_name"  class="form-control my-input" placeholder="Lastname" aria-label="Lastname" aria-describedby="addon-wrapping" value="{{ form.last_name.value }}">
                                </div>
                            </div>
                            <label class="small mb-1" for="inputGender">Gender</label>
                            <div class="mb-3 col-4">
                                <div class="form-outline mb-4 input-group flex-nowrap">
                                    <span class="input-group-text fa-solid fa-venus-mars fs-5" id="addon-wrapping"></span>
                                    <select name="gender" id="gender" class="form-control">
                                        {% for value, label in form.gender.field.choices %}
                                            <option value="{{ value }}" {% if form.gender.value == value %}selected{% endif %}>{{ label }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputOrgName">Occupation</label>
                                    <input class="form-control my-input {% if form.profession.errors %}is-invalid{% endif %}" id="inputOrgName" type="text" name="profession" placeholder="Occupation" value="{{ form.profession.value }}">
                                    {% if form.profession.errors %}
                                        <div class="invalid-feedback">
                                            {% for error in form.profession.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLocation">Status</label>
                                    <input class="form-control my-input" id="inputLocation" name="bio" type="text" placeholder="Enter your Bio" value="{{ form.bio.value }}">
                                </div>
                            </div>
                            <label class="small mb-1" for="inputBirthDate">Birth Date</label>
                            <div class="col-md-6">
                                <div class="form-outline mb-2 input-group flex-nowrap">
                                    <span class="input-group-text fa-regular fa-calendar-days fs-5" id="addon-wrapping"></span>
                                    <input type="date" name="birth_date" class="form-control" id="inputBirthDate"  aria-label="Date" aria-describedby="addon-wrapping" value="{{ object.birth_date|default_if_none:''|date:'Y-m-d' }}">
                                </div>
                                {% for error in form.birth_date.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="mt-4">
                                <a href="{% url 'profile' user.id %}" class="btn btn-primary mx-1">
                                    Profile
                                </a>
                                <button class="btn btn-primary save-button" type="submit">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded",() => {
            document.getElementById('profile-file').addEventListener('change', (event) => {
                image = document.getElementById('profile-file')
                var src = URL.createObjectURL(event.target.files[0])
                document.getElementById('profile-image').src = src
            })
        })
    </script>
{% endblock content %}