<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <script src="../static/bootstrap/bootstrap.min.js"></script>

    <title>Profile Details</title>
</head>
<body>
    <div style="background-color: whitesmoke;" class="container">
        <div class="main-body">
            <nav aria-label="breadcrumb" class="main-breadcrumb text-white">
                <ol class="breadcrumb text-white">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Profile</a></li>
                    <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                </ol>
            </nav>
            <div class="row gutters-sm " style="background-color: orangered;">
                <!-- START OF LEFT PART OF COLUMN -->
                <div class="col-md-6 col-lg-5 mb-3" style="background-color: green;">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                                <div class="mt-3 col-11">
                                    <h4 class="">@Aykos</h4>
                                    <h6 class="mb-4 fs-6" style="color:grey">Username</h6>
                                    <button class="btn btn-primary">Add Friend</button>
                                    <a class="btn btn-info" target="__blank" href="#">Edit</a>
                                    <button class="btn btn-primary">Message</button>
                                <div class="card mb-3 mt-3">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <h6 class="mb-0">First Name</h6>
                                            </div>
                                            <div class="col-lg-7 text-secondary">
                                                Aymammet
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <h6 class="mb-0">Last Name</h6>
                                            </div>
                                            <div class="col-lg-7 text-secondary">
                                                Annamyradov
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <h6 class="mb-0">Occupation</h6>
                                            </div>
                                            <div class="col-lg-7 text-secondary">
                                                Software&nbsp;Developer
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <h6 class="mb-0">Bio</h6>
                                            </div>
                                            <div class="col-lg-7 text-secondary">
                                                180 cm height, athletic
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <h6 class="mb-0">Number of Posts</h6>
                                            </div>
                                            <div class="col-lg-7 text-secondary">
                                                "2"
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <h6 class="mb-0">Liked Posts №</h6>
                                            </div>
                                            <div class="col-lg-7 text-secondary">
                                                "4"
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <h6 class="mb-0">Disliked Posts №</h6>
                                            </div>
                                            <div class="col-lg-7 text-secondary">
                                                "1"
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <h6 class="mb-0">Joined Date</h6>
                                            </div>
                                            <div class="col-lg-7 text-secondary">
                                                Jan 24, 2023
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <h6 class="mb-0">Last visited day</h6>
                                            </div>
                                            <div class="col-lg-7 text-secondary">
                                                Jan 25, 2023
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END OF LEFT COLUMN -->
                </div>
                <div class="col-md-6 col-lg-7 mb-3" style="background-color: gray;">
                    POSTS
                </div>
            </div>
        </div>
    </div>    
</body>
</html>