{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row my-4">
        <div style="height: auto;" class="col-md-5 col-lg-5 col-sm-12 d-flex align-content-start flex-column">
            <div class="my-1 d-flex justify-content-center">
                <img src="{{ profile_user.profile_image.url }}" alt="Admin" class="rounded-circle border border-white" height="150" width="150">
            </div>
            <div class="my-1 d-flex justify-content-center">
                <p class="my-0 font-weight-bold">
                    <b>
                        {{ profile_user.first_name }} {{ profile_user.last_name }}
                    </b>
                </p>
            </div>
            <div class="my-1 d-flex justify-content-around">
                <a href="#" class="btn btn-primary col-3">
                    <i class="fa-solid fa-person-circle-plus fa-lg "></i>
                </a>
                {% if request.user.is_authenticated %}
                    {% if profile_user == request.user %}
                        <a href="{% url 'profile-edit' user.id %}" class="btn btn-primary col-3">
                            <i class="fa-solid fa-user-pen fa-lg "></i>
                        </a>
                    {% endif %}
                {% endif %}
                <a href="#" class="btn btn-primary col-3 ">
                    <i class="fa-regular fa-envelope fa-lg "></i>
                </a>
            </div>
            <div class="my-1" style="border: 1px solid gray; border-radius: 5px;">
                <div class="d-flex align-items-center" style="height: 75px ;border-bottom: 1px solid gray;">
                    <p class="mb-0 mx-3"> <b>Personal infromation</b></p>
                </div>
                <div class="d-flex align-items-center" style="min-height: 50px ;border-bottom: 1px solid gray;">
                    <i class="mb-0 mx-3 fa-regular fa-user"></i>
                    <div>@{{ profile_user.username }}</div>
                </div>
                <div class="d-flex align-items-center" style="min-height: 50px ;border-bottom: 1px solid gray;">
                    <i class="mb-0 mx-3 fa-solid fa-venus-mars"></i>
                    <div>{{ profile_user.gender }}</div>
                </div>
                <div class="d-flex align-items-center" style="min-height: 50px ;border-bottom: 1px solid gray;">
                    <i class="mb-0 mx-3 fa-solid fa-cake-candles"></i>
                    <div>{{ profile_user.birth_date }}</div>
                </div>
                <div class="d-flex align-items-center" style="min-height: 50px ;border-bottom: 1px solid gray;">
                    <i class="mb-0 mx-3 fa-solid fa-user-tie"></i>
                    <div>{{ profile_user.profession }}</div>
                </div>
                <div class="d-flex align-items-center" style="min-height: 50px; height: auto ;border-bottom: 1px solid gray;">
                    <i class="mb-0 mx-3 fa-regular fa-address-card"></i>
                    <div>
                        <p class="py-0 my-2">
                            {{ profile_user.bio }} 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 750px; overflow-y: scroll;" class="px-0 col-md-7 col-lg-7 col-sm-12 d-flex flex-column align-items-center">
            {% if posts %}
                {% for post in posts %}
                    <div class="posts my-4 col-9"  style="border-radius: 5px; padding: 5px; background-color: rgb(250, 250, 250);">
                        <div class="d-flex mb-2" >
                            <div class="col-11">
                                <div class="col text-start" style="color: rgb(171, 171, 171)">
                                    {{ post.created_date }} - {{ post.created_time }}
                                </div>
                            </div>
                        </div>
                        {% if post.image %}
                            <div class="col d-flex justify-content-center">
                                <img src="{{ post.image.url }}" style="width:100%;height:100%; border-radius: 5px;" alt="image of aykos">
                            </div>
                        {% endif %}
                        <p style="word-break: break-all;" class="text-start my-2">
                            {{ post.title }}
                        </p>
                        <hr>
                        <div class="interactions" style="display: flex; justify-content: space-around;">
                            <div class="col-3">
                                <a style="display: flex; flex-direction: column;" href="#">
                                    <div>
                                        <i class="fa-regular fa-thumbs-up fa-lg"></i>
                                        <span class="mx-1">{{ post.total_likes }}</span>
                                        <p class="button-text">Like</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-3">
                                <a style="display: flex; flex-direction: column;" href="#">
                                    <div>
                                        <i class="fa-regular fa-thumbs-down fa-lg"></i>
                                        <span class="mx-1">{{ post.total_dislikes }}</span>
                                        <p class="button-text">Dislike</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-3">
                                <a style="display: flex; flex-direction: column;" href="#">
                                    <div>
                                        <i class="fa-regular fa-comment fa-lg "></i>
                                        <span class="mx-1">0</span>
                                        <p class="button-text">Comments</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
